.button-margin {
  margin: 10px 0px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.icon-small {
  font-size: 12px;
}

.link-small {
  font-size: 12px;
}

#h5-nomargintop {
  margin-top: 0px;
}

#img-show {
  margin-bottom: 12px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
